# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
front-end/node_modules/
front-end/public/
front-end/npm-debug.log
