@import "constants/constants";

.text-white{
  color: $color-white;
}

.background-system{
  background: $system-panel-color;
}

body{
  margin: 0;
  padding: 0;
}

nav, .panel{
  background: $system-panel-color;
}

.pagination li.active{
  background-color: $system-panel-color;
}

table{
  td, th{
    padding: 5px 5px;
  }
}

.modal{
  max-width: 90%;
  max-height: 80%;
  &.modal-fixed-footer{
    width: 90%;
    height: 80%;
  }
}

.card-wrapper{
  width: 50%;
  float: left;
  padding-right: 20px;
  .card{
    .card-image{
      height: 200px;
    }
  }
}

.divider{
  clear: both;
}

.audioplayer{
  box-shadow: none;
  border-color: transparent;
  @include linear-gradient(top, $system-panel-color, $system-panel-alternative-color);
}